@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

.font-title{
  font-family: 'Courgette', cursive;
}

img.logo-app{
  width: 7rem;
}